@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fffbf6;
}

ul{
    transform: skew(49deg, 333deg);
}

ul li{
    position: relative;
    list-style: none;
    background-color: #000;
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    transition: .5s;
}

ul li:hover{
    background-color: rgb(245, 212, 29);
    transform: translateX(-30px);
}

ul li::before{
    content: '';
    position: absolute;
    left: -18px;
    width: 18px;
    height: 100%;
    background-color: #1d1d1d;
    transform: skewY(-40deg);
    transform-origin: right;
    transition: .5s;
}

ul li:hover::before{
    background-color: rgb(245, 212, 29);
}

ul li::after{
    content: '';
    position: absolute;
    top: 100%;
    left: -19px;
    width: 100%;
    height: 16px;
    background-color: #1d1d1d;
    transform: skewX(-50deg);
    transform-origin: bottom;
    transition: .5s;
}

ul li:hover::after{
    background-color: rgb(245, 212, 29);
}

ul li a{
    color: #bbb;
    transition: .5s;
}
ul li:hover a{
    color: #fff;
}